<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Basket</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{basketItem.basketItemId}}" *ngFor="let basketItem of basketItems; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{basketItem.name}}</td>
          <td>
            <input type="number" [value]="basketItem.quantity" data-id="{{basketItem.basketItemId}}"
              (change)="changeQuantity($event)" style="width: 60px;">
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeBasketItem(basketItem.basketItemId)">X</button>
          </td>
        </tr>
      </tbody>
    </table>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" (click)="shoppingComplete()">Save changes</button>
  </div>
</div>
